########################################################################################
# <사전작업>
# 1. 작업디렉토리 결정 후 템플릿 복사.
#   /workshop/dstone-rabbitmq
# <작업명령>
# 1. Docker Compose 실행
#   - docker-compose -p dstone -f /workshop/dstone-rabbitmq/01.dstone-rabbitmq-docker.yml up -d
# 2. 로그 확인
#   - docker-compose -p dstone -f /workshop/dstone-rabbitmq/01.dstone-rabbitmq-docker.yml logs -f dstone-rabbitmq
# 3. 중지 및 삭제
#   - docker-compose -p dstone -f /workshop/dstone-rabbitmq/01.dstone-rabbitmq-docker.yml down -v
########################################################################################
services:

  # RabbitMQ 서버
  dstone-rabbitmq:
    
    # ---------- 최초작업일 때 ---------------------- #
    # image: rabbitmq:3.13-management
    # --------------------------------------------- #    
    # ---------- Docker Hub 에서 가져올 때 ---------- #
    image: jysn007/dstone-rabbitmq:latest
    # --------------------------------------------- #
    
    container_name: dstone-rabbitmq
    hostname: dstone-rabbitmq
    ports:
      - "5672:5672"   # AMQP 프로토콜 포트
      - "15672:15672" # Management UI 포트
    environment:
      ###########################################################  
      # RABBITMQ_DEFAULT_USER/PASS/VHOST 와 RABBITMQ_LOAD_DEFINITIONS안에 
      # 동일한 사용자/브이호스트가 있으면 definitions 로딩이 스킵될 수 있음.
      # 따라서 RABBITMQ_LOAD_DEFINITIONS을 쓸 경우 RABBITMQ_DEFAULT_USER/PASS/VHOST 제거.
      ###########################################################  
      #RABBITMQ_DEFAULT_USER: jysn007
      #RABBITMQ_DEFAULT_PASS: db2admin!@
      #RABBITMQ_DEFAULT_VHOST: /
      RABBITMQ_LOAD_DEFINITIONS: /etc/rabbitmq/definitions.json
      
    ###########################################################  
    # 서비스 내부 Volumes (바인드 마운트 vs 볼륨 참조)
    # A.타입 1: 바인드 마운트 (Bind Mount)
    #   - 호스트의 실제 경로를 컨테이너에 연결
    #   - 경로가 .로 시작하거나 /로 시작 (절대경로)
    #   - 파일이나 디렉토리를 직접 공유
    #   - 용도: 코드, 설정 파일 등 자주 수정하는 것들
    #   예) - ./backend:/app
    # B.타입 2: 네임드 볼륨 참조 (Named Volume)
    #   - Docker가 관리하는 볼륨을 컨테이너에 연결
    #   - 이름만 적음 (경로 없음)
    #   - 실제 저장 위치는 Docker가 관리(보통 호스트의 /var/lib/docker/volumes/<프로젝트명>_<볼륨명>/_data 디렉토리)
    #   - 최하단 Volumes 선언(볼륨 정의)이 되어있어야 함.
    #   - 용도: 데이터베이스 데이터처럼 영구 보존이 필요하지만 직접 수정할 일은 없는 것들
    #   예) - db-data:/var/lib/postgresql/data
    #      호스트위치 : /var/lib/docker/volumes/mysql_db-data/_data
    #      컨테이너위치 : /var/lib/postgresql/data
    ###########################################################  
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - rabbitmq_log:/var/log/rabbitmq
      - ./init-data/dstone-rabbitmq_data.json:/etc/rabbitmq/definitions.json:ro
      # 설정 파일 마운트
      - ./init-data/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
    networks:
      - dstone-network
    restart: unless-stopped
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 10s
      retries: 5
      
networks:
  dstone-network:
    driver: bridge
    
######################################
# Volumes 선언(볼륨 정의)
# - 네임드 볼륨 참조 (Named Volume)에서 사용.
######################################
volumes:
  # RabbitMQ 볼륨
  rabbitmq_data:
    driver: local
  rabbitmq_log:
    driver: local
