<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

     <Properties>
        <Property name="level.default">ERROR</Property>
        <Property name="level.dstone">ERROR</Property>
    </Properties>
    
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss} %5p [%c] %m%n"/>
        </Console>
        <RollingFile name ="rollingFile">
            <FileName>/app-home/logs/dstone-boot/execution/execution.log</FileName>
            <FilePattern>/app-home/logs/dstone-boot/execution/%d{yyyy-MM-dd}/execution.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
        </RollingFile>
    </Appenders>

    <Loggers>
    	<!-- You can specify loggers down here ! -->
    	
        <Root level="${level.default}" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>        
    	
		<!--Spring logger-->
	    <Logger name="org.springframework" level="${level.default}" additivity="false">   
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>	
		</Logger>  	
		    
		<!--Log4jdbc logger-->
		<Logger name="jdbc" level="OFF" additivity="false">   
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>	
		</Logger>  	
		<Logger name="jdbc.connection" level="OFF" additivity="false">   
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>	
		</Logger>  	
		<Logger name="jdbc.sqlonly" level="OFF" additivity="false">   
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>	
		</Logger>
		<Logger name="jdbc.sqltiming" level="${level.default}" additivity="false">   
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>	
		</Logger>
		<Logger name="jdbc.audit" level="OFF" additivity="false">   
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>	
		</Logger>  	
		<Logger name="jdbc.resultset" level="OFF" additivity="false">   
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>	
		</Logger>  	
		<Logger name="jdbc.resultsettable" level="${level.default}" additivity="false">   
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>	
		</Logger>  	
	    <Logger name="com.zaxxer.hikari" level="OFF" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
	    </Logger>
	    
	    <Logger name="net.dstone" level="${level.dstone}" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
	    </Logger>
	    
    </Loggers>
    
</Configuration>