<!DOCTYPE html>
<html xmlns:th="http:www.thymeLeaf.com" >
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	thymeLeaf
	<h2 th:text="${message}" ></h2>

	<table id="example1" >
		<thead>
			<tr>
				<th>GROUP_ID</th>
				<th>USER_ID</th>
				<th>NAME</th>
				<th>AGE</th>
				<th>INPUT_DT</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="sampleMemberVo : ${list}">
				<td th:text="${sampleMemberVo.GROUP_ID}">GROUP_ID</td>
				<td th:text="${sampleMemberVo.USER_ID}">USER_ID</td>
				<td th:text="${sampleMemberVo.NAME}">NAME</td>
				<td th:text="${sampleMemberVo.AGE}">AGE</td>
				<td th:text="${sampleMemberVo.INPUT_DT}">INPUT_DT</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>GROUP_ID</th>
				<th>USER_ID</th>
				<th>NAME</th>
				<th>AGE</th>
				<th>INPUT_DT</th>
			</tr>
		</tfoot>
	</table>

</body>
</html>