########################################################################################
# <사전작업>
# 1. 작업디렉토리 결정 후 템플릿 복사.
#   /workshop/dstone-boot
# <작업명령>
# 1. Docker Compose 실행
#   - docker-compose -p dstone -f /workshop/dstone-boot/01.dstone-boot-docker.yml up -d
# 2. 로그 확인
#   - docker-compose -p dstone -f /workshop/dstone-boot/01.dstone-boot-docker.yml logs -f dstone-boot
# 3. 중지 및 삭제
#   - docker-compose -p dstone -f /workshop/dstone-boot/01.dstone-boot-docker.yml down -v
########################################################################################
services:

  # Application 프레임웍 
  dstone-boot:
    
    # ---------- 최초작업일 때 ---------------------- #
    image: eclipse-temurin:21-jdk
    # --------------------------------------------- #    
    # ---------- Docker Hub 에서 가져올 때 ---------- #
    # image: jysn007/dstone-boot:latest
    # --------------------------------------------- #
    
    container_name: dstone-boot
    ports:
      - "7081:7081"
    ###########################################################  
    # 서비스 내부 Volumes (바인드 마운트 vs 볼륨 참조)
    # A.타입 1: 바인드 마운트 (Bind Mount)
    #   - 호스트의 실제 경로를 컨테이너에 연결
    #   - 경로가 .로 시작하거나 /로 시작 (절대경로)
    #   - 파일이나 디렉토리를 직접 공유
    #   - 용도: 코드, 설정 파일 등 자주 수정하는 것들
    #   예) - ./backend:/app
    # B.타입 2: 네임드 볼륨 참조 (Named Volume)
    #   - Docker가 관리하는 볼륨을 컨테이너에 연결
    #   - 이름만 적음 (경로 없음)
    #   - 실제 저장 위치는 Docker가 관리(보통 호스트의 /var/lib/docker/volumes/<프로젝트명>_<볼륨명>/_data 디렉토리)
    #   - 최하단 Volumes 선언(볼륨 정의)이 되어있어야 함.
    #   - 용도: 데이터베이스 데이터처럼 영구 보존이 필요하지만 직접 수정할 일은 없는 것들
    #   예) - db-data:/var/lib/postgresql/data
    #      호스트위치 : /var/lib/docker/volumes/mysql_db-data/_data
    #      컨테이너위치 : /var/lib/postgresql/data
    ###########################################################    
    volumes:
      - /workshop/dstone-boot/target/dstone-boot.war:/workshop/dstone-boot/target/dstone-boot.war
      - /workshop/dstone-boot/conf:/workshop/dstone-boot/conf
    networks:
      - dstone-network
    command:
      - /bin/bash
      - -c
      - |
        echo "Starting Spring Boot Application..."
        java -Xms512m -Xmx1024m -Dspring.profiles.active=dev -jar /workshop/dstone-boot/target/dstone-boot.war net.dstone.DstoneBootApplication
    restart: unless-stopped
    #restart: "no"

networks:
  dstone-network:
    driver: bridge